<div id="vendor_name", align="center">
  <h1><%= @vendor.name %></h1>
  <p><%= @vendor.description %></p><br>
</div>

<div id="vendor_info">
  <h3>Contact Info:</h3>
  <p>Name: <%= @vendor.contact_name %></p>
  <p>Phone: <%= @vendor.contact_phone %></p>
  <p>Credit Accepted?: <%= @vendor.credit_accepted %></p>
</div>